# Ignore build artifacts and temporary files
*.tar.*
*.pkg.*
*.deb
*.zip
*.7z
*.rar
*.gz
*.bz2
*.xz
*.zst

# Ignore directories created during the build process
src/
pkg/

# Ignore editor and system files
*~
*.swp
.DS_Store
Thumbs.db

# Ignore backup files
*.bak
*.tmp

# Ignore logs
*.log

# PyInstaller directories
build/dunst-timer
dist
