pkgbase = dunst-timer
	pkgdesc = A Python script for setting timers with progress bar notifications in Dunst
	pkgver = 1.00.01
	pkgrel = 1
	url = https://github.com/bitSheriff/dunst-timer
	arch = any
	license = MIT
	depends = python
	source = https://github.com/bitSheriff/dunst-timer/archive/v1.00.01.tar.gz
	sha256sums = fbd06751394b348e0eb9ab8391ff7bf3d3fa18bf2ec49165deada62b3d54e11c

pkgname = dunst-timer
