pkgbase = dunst-timer
	pkgdesc = A Python script for setting timers with progress bar notifications in Dunst
	pkgver = 1.00.03
	pkgrel = 1
	url = https://github.com/bitSheriff/dunst-timer
	arch = any
	license = MIT
	depends = python
	source = https://github.com/bitSheriff/dunst-timer/archive/v1.00.03.tar.gz
	sha256sums = 78557a1cc7229553f511ba651dd49b0f3af6071745d5dae844b71e87042718f3

pkgname = dunst-timer
